// theming colors
$light-blue-color: #2880fc;
$white: #FFFFFF;
$dark-yellow: #FB9F3C;
// $body-bg:#F3F3F5;
$text-muted: #8694AA;
$white: #ffffff;
$dark-yellow: #fb9f3c;
$text-muted: #8694aa;
$reserved-seat-color: #ea4234;
$available-seat-color: #58a65f;
$border-color: $text-muted;
$book-seat-bg: $white;
$border-muted: #e5e7ea;
$DodgerBlue-color: #2984f7;

// text-colors
$text-primary: #031837;
$text-gray-400: $text-muted;
$text-gray-500: #95a1b5;
$nav-link-color: #031837;


$btn-hover-color: #6d7473;
// border colors
$nav-border: $border-muted;

// book-seat colors
$info: #1D2D49;

// popup and popover message
$btn-bg: $light-blue-color;
$btn-hover-color: $white;
$modal-color: #233550;
$admin-background-color: #f7f8f9;
// bg-colors:
$bg-grey: #f3f3f5;
$bg-red: #ff0000;
$bg-dark: #000000;

// border colors
// $nav-border: #E5E7EA ;
$input-border: #fafafa;

//regiration page colors
$bs-btn-bg: $bg-red;
$bs-btn-hover-bg: #cc0000;
$text-gray-300: #adadad;

// ng-select-disable color
$ng-select-disable-color: #ebebeb;